[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
port = MYSQLPORT
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

#show variables like 'back_log';
back_log=300
#show variables like 'wait_timeout';
wait_timeout=1800
interactive_timeout=1800
#show variables like 'max_connections';
max_connections=2000
#show variables like 'thread_concurrency';
innodb_thread_concurrency=16
#skip-name-resolve
#show status like 'thread%';
thread_cache_size=64
innodb_read_io_threads=4
innodb_write_io_threads=14

#  
log_bin_trust_function_creators=1;
#    log     #
slow_query_log=1
long_query_time=5
slow_query_log_file=/var/lib/mysql/mysql.log

#记录下没有使用索引的查询
log_queries_not_using_indexes=1
#记录管理语句
log_slow_admin_statements = 1
#设置每分钟增长的没有使用索引查询的日志数量
log_throttle_queries_not_using_indexes=10
expire_logs_days=90
min_examined_row_limit=100

# 

# gtid
server_id=SERVER_ID
gtid_mode=ON
enforce_gtid_consistency=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE	
binlog_checksum=NONE
log_slave_updates=ON
log_bin=binlog
binlog_format=ROW
#read_only=true
#super_read_only=true


# group replication	
transaction_write_set_extraction=XXHASH64		
loose-group_replication_group_name="37e853da-8247-11e8-bce2-0242ac110001"
loose-group_replication_start_on_boot=off
loose-group_replication_local_address= "GROUP_LOCAL_IP_PORT"
loose-group_replication_group_seeds= "GROUP_SEEDS1,GROUP_SEEDS2,GROUP_SEEDS3"
loose-group_replication_bootstrap_group=off
loose-group_replication_single_primary_mode=off
loose-group_replication_enforce_update_everywhere_checks=true
loose-group_replication_unreachable_majority_timeout=864000
